@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

/*  Sidebar part */

.sidebar {
    background-color: #1992D4;
    grid-area: 1 / 1 / 3 / 2;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.25);
    z-index: 2;
} 

.sidebargrid {
    height: 80vh;
    display: grid;
    grid-template-rows: repeat(3, fit-content); 
}

.top,.middle,.bottom {
    display: grid;
    grid-template-columns: 55px 1fr;
    grid-template-rows: repeat(auto-fit, 35px);
    padding: 0 40px;
    align-items: center;
    color: white;
}

.top {
    padding-top: 20px;
    justify-self: flex-start;
}

.middle > *, .top > *, .bottom > * {
    color: white;
    text-decoration: none;
    text-align:left;
    font-weight: bolder;
}

a:hover {
    color: rgb(206, 206, 206)
}



/*  Header part */

header {
    background-color: white;
    grid-area: 1 / 2 / 2 / 3;
    box-shadow: 1px 3px 3px rgba(0,0,0,0.2);
    z-index: 1;
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, auto);
}

.topnav {
    display: grid;
    grid-template-columns: 70% 30%;
    align-content: center;
    justify-content: flex-end;
}


.search {
    border: 0;
    background-color: #E2E8F0;
    border-radius: 20px;
    padding: 0.6em 10em;
    justify-self: flex-start;
    margin-left: 1em;
    margin-bottom: 0.3em;
}
.searchcontainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: flex-end;
    align-items: center;
}

.rightpart {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 40px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 10px;
}

.bottomnav {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: space-between;
}

.bluebuttons {
    background-color: #1992D4;
    color: white;
    font-weight: 700;
    border: 0;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 0 10px;
}
.bluebuttons:hover {
    color: rgb(236, 236, 236);
}
.bluebuttons:active {
    background-color: #136794;
}

.profile {
    display: grid;
    grid-template-columns: auto auto;
    box-sizing: border-box;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.profile > h2, .profile > p {
    align-self: flex-start;
}

/* Main Content part */

.main-content {
    background-color: #E2E8F0;
    grid-area: 2 / 2 / 3 / 3 ;
    margin: 0;
    padding: 10px;
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 2fr;
}

.trending {
    grid-area: 2 / 2 / 3 / 3 ; 
}

.yourproject {
    grid-area: 1 / 1 / 3 / 2 ;
}

.card-project {
    display: grid;
    gap: 10px;
    margin: 10px 10px 0px 0px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    align-items: stretch;
}

.announcement {
    grid-area: 1 / 2 / 2 / 3 ;
}

.card-announcement {    
    width: 100%;
    height: 90%;
    margin-top: 10px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 2px 2px 5px darkgray;
    padding: 35px;
}

.card-trending {
    box-sizing: content-box;
    background-color: white;
    border-radius: 6px;
    margin-top: 10px;
    box-shadow: 2px 2px 5px darkgray;
    padding: 15px;
}

.profilesmall {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: stretch;
    align-items: center;
    font-size: 15px;
}

.greytxt {
    color: rgb(139, 139, 139);
}

.item-projects {
    background-color: white;
    border-radius: 6px;
    height: 200px;
    padding: 25px 15px;
    box-shadow: 2px 2px 5px darkgray;
    border-left: 6px solid #F0B429;
    display: grid;
    align-content: space-between;
    align-items: end;
    justify-items: end;
}

.txtcard > p {
    color: rgb(139, 139, 139);
}

.cardlogos {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 25px;
}

.box {
    border-bottom: 1px solid rgb(202, 202, 202);
}

.box > p, .card-announcement > p {
    color: rgb(139, 139, 139);
    font-size: small;
}