html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(206, 250, 240);
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
    display: grid;
    align-items: center;
    justify-content: center;
}

#calculatrice {
    border: 1px solid darkslategrey;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;
}

h1 {
    text-align: center;
    margin-top: 0px;
}

#affichage {
    width: 292px;
    height: 30px;
    border: 1px solid darkslategrey;
    border-radius: 5px;
    background-color: white;
    padding: 8px;
    margin: 15px 30px;
    display: grid;
    justify-content: flex-end;
}
.bouttons {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 50px);
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    height: 45px;
    margin: 5px;
    border: 1px solid darkslategrey;
    border-radius: 5px;
    background-color: white;
}

button:hover {
    background-color: rgb(223, 223, 223);
}
